@charset "utf-8";

@font-face {
	font-family: 'PTSans-Bold';
	src: url('../fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/PTSans-Bold.woff') format('woff'),
		 url('../fonts/PTSans-Bold.ttf')  format('truetype'),
		 url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Regular.woff') format('woff'),
		 url('../fonts/Roboto-Regular.ttf')  format('truetype'),
		 url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto-Light.woff') format('woff'),
		 url('../fonts/Roboto-Light.ttf')  format('truetype'),
		 url('../fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icomoon.woff') format('woff'),
		 url('../fonts/icomoon.ttf')  format('truetype'),
		 url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1024px;
	text-align: center;
	font-family: 'Roboto-Light';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #383838;
	font-size: 16px;
	line-height: 26px;
	position: relative;
}
a{
	text-decoration: none;
	color: #0077b7;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00 !important;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
	width: 100%;
	text-align: left;
}
.b-block{
	position: relative;
	padding: 0px 70px;
}
.b-padding{
	padding-top: 65px;
	padding-bottom: 75px;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #777;
}
input:-moz-placeholder {
	color: #777;
}
.b-btn{
	margin-top: 35px;
	font-family: "PTSans-Bold";
	padding: 18px 35px;
	letter-spacing: 1px;
	min-width: 250px;
	box-sizing: border-box;
	font-size: 16px;
	text-transform: uppercase;
	border: 1px solid #383838;
	color: #383838;
	display: inline-block;
	text-align: center;
}
	.b-btn:hover{
		background-color: #383838;
		color: #FFF;
	}
.b-blue-btn{
	color: #0077b7;
	border-color: #0077b7;
}
	.b-blue-btn:hover{
		background-color: #0077b7;
	}
h2.b-title,
h1{
	font-size: 40px;
	font-family: "PTSans-Bold";
	line-height: 55px;
	margin-top: 0px !important;
	color: #383838;
	margin-bottom: 35px;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-arrow-left:before{
		content: "\e901";
	}
.b-partners-slider .slick-next{
	
}
	.icon-arrow-right:before{
		content: "\e900";
	}
.b-cols{
	display: table;
	max-width: 100%;
	width: 100%;
}
	.b-text .b-cols p{
		max-width: 100%;
	}
	.b-cols .b-col{
		display: inline-block;
	}
	.b-4-cols .b-col{
		padding-right: 20px;
		width: 25%;
		margin-right: 0%;
	}
	.b-3-cols .b-col{
		padding-right: 20px;
		width: 33%;
		margin-right: 0%;
	}
	.b-cols .b-col img{
		max-width: 100%;
		width: 100%;
	}
	.b-2-cols .b-col{
		width: calc(50% - 15px);
		margin-right: 30px;
	}
	.b-2-cols .b-col:nth-child(2n){
		margin-right: 0;
	}
	.b-3-cols .b-col:nth-child(3n){
		margin-right: 0;
	}
	.b-4-cols .b-col:nth-child(4n){
		margin-right: 0;
	}
.b-text{

}
	.b-text h2,
	.b-text h3,
	.b-text h4,
	.b-text ul,
	.b-text p{
		max-width: 900px;
	}
	.b-text h2{
		margin-top: 25px;
		font-size: 40px;
		font-family: "PTSans-Bold";
		line-height: 55px;
		color: #383838;
		margin-bottom: 20px;
	}
	.b-text h3{
		margin-top: 25px;
		font-size: 30px;
	    line-height: 40px;
	    color: #383838;
	    font-family: "PTSans-Bold";
	    margin-bottom: 15px;
	}
	.b-text h4{
		margin-top: 25px;
		color: #383838;
	    font-size: 20px;
	    font-family: "PTSans-Bold";
	    margin-bottom: 10px;
	}
	.b-text a{

	}
		.b-text a:hover{

		}
	.b-text b{
		font-family: "PTSans-Bold";
		font-weight: normal;
	}
	.b-text p{
		/*margin-bottom: 25px;*/
	}
	.b-text ul{
		/*margin-bottom: 10px;*/
	}
		.b-text ul li{
			line-height: 28px;
			padding-left: 20px;
			position: relative;
		}
			.b-text ul li:before{
				position: absolute;
				content: "s";
				font-size: 0px;
				width: 10px;
				height: 1px;
				left: 0px;
				top: 13px;
				background-color: #2a2a2a;
				border-radius: 10px;
			}
	.b-text img{
		margin-bottom: 30px;
		max-width: 100%;
		height: auto !important;
	}
	.b-text .b-col img{
		margin-bottom: 20px;
	}
	.b-text p + img,
	.b-text p + div{
		margin-top: 35px;
	}
	.b-text table{
		box-shadow: 0 10px 30px rgba(0,0,0,0.1);
		background-color: #f9f9f9;
		width: 100%;
		margin-bottom: 35px;
	}
		.b-text table th{
			border: none;
			color: #FFF;
			font-weight: normal;
			font-family: "Roboto-Regular";
			text-align: center;
			background-color: #a7a7a7;
			padding: 11px 20px 9px;
			border-right: 1px solid #afafaf;
			border-bottom: 1px solid #afafaf;
		}
			.b-text table th p{
				color: #FFF;
			}
		.b-text table th:nth-child(2n){
			background-color: #a0a0a0;
		}
		.b-text table td{
			border-bottom: 1px solid #ececec;
			vertical-align: top;
			padding: 11px 20px 9px;
			border-right: 1px solid #ececec;
		}
			.b-text table td p{
				margin-bottom: 0px;
			}
.b-nav{
	width: 25%;
	background-color: #292929;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	float: left;
	min-width: 256px;
	overflow: auto;
}
	.b-logo-cont{
		padding: 50px;
		background-color: #383838;
		text-align: right;
	}
		.b-logo{
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url('../i/logo.png');
			background-size: 164px;
			width: 164px;
			height: 148px;
			display: block;
		}
	.b-menu{
		padding: 45px 50px;
	}
		.b-menu li{
			text-align: right;
			margin-bottom: 30px;
		}
			.b-menu li a{
				font-family: "PTSans-Bold";
				padding: 10px;
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #ffffff;
			}
				.b-menu li a:hover,
				.b-menu li.active a,
				.b-menu li a.active{
					color: #0077b7;
				}
.b-page{
	width: 75%;
	float: right;
}
	.b-main-slider{
		height: 460px;
		width: 100%;
	}
		.b-main-slide{
			height: 460px;
			width: 100%;
			background-position: 50% 50%;
			background-size: cover;
		}
	.b-main-slider .slick-prev,
	.b-main-slider .slick-next{
		display: none !important;
	}
	.b-main-text{

	}
		.b-main-text .b-block{

		}
			.b-main-text h1{

			}
			.b-main-text p{
				padding-bottom: 45px;
				max-width: 900px;
			}
			.b-main-text .b-btn{

			}
	.b-product-slider{
		width: 100%;
	}
	.b-product-slick{
		height: 475px;
	}
	.b-product-grid{
		font-size: 0px;
	}
	.b-product-slider .slick-prev,
	.b-product-slider .slick-next{
		display: none !important;
	}
		.b-product-slide{
			width: 100%;
			background-position: 40% 50%;
			background-size: cover;
		}
		.b-product-slick .b-product-slide{
			height: 475px;
		}
		.b-product-grid .b-product-slide{
			display: inline-block;
			vertical-align: top;
			width: 50%;
			background-color: #f9f9f9;
			margin-bottom: 1px;
		}
		.b-product-grid .b-product-slide:nth-child(2n+1){
			width: calc(50% - 1px);
			margin-right: 1px;
		}
			.b-product-slide-img{
				display: block;
				width: 100%;
				height: 300px;
				background-position: 50% 50%;
				background-size: cover;
			}
			.b-product-slide .b-block{
				box-sizing: border-box;
			}	
			.b-product-slick .b-product-slide .b-block{
				height: 100%;
			}
				.b-product-slide-cont{
					position: relative;
					height: 100%;
				}
				.b-product-slick .b-product-slide-text{
					position: absolute;
					left: 0px;
					bottom: 0px;
				}
					.b-product-slide h3{
						font-size: 30px;
						line-height: 40px;
						color: #333;
						font-family: "PTSans-Bold";
						margin-bottom: 20px;
						margin-top: 0px;
					}
					/*.b-product-grid .b-product-slide h3{
						margin-bottom: 15px;
					}*/
					.b-product-slide p{
						font-family: "Roboto-Light";
						font-size: 16px;
						line-height: 26px;
						margin-bottom: 0px;
					}
					.b-product-slide .b-btn{

					}
			ul.slick-dots{
				position: absolute;
				right: 60px;
				bottom: 65px;
			}
				ul.slick-dots li{
					float: left;
					margin-right: 4px;
				}
					ul.slick-dots li button{
						cursor: pointer;
						display: block;
						width: 30px;
						height: 30px;
						background: transparent;
						border: none;
						font-size: 0px;
						position: relative;
					}
						ul.slick-dots li button:before{
							position: absolute;
							content: "s";
							font-size: 0px;
							left: 50%;
							top: 50%;
							margin-left: -7px;
							margin-top: -7px;
							width: 14px;
							height: 14px;
							background-color: #FFF;
							opacity: 0.2;
							border-radius: 100px;
						}
						.b-dark-dots ul.slick-dots li button:before{
							background-color: #383838;
						}
						ul.slick-dots li button:hover:before{
							opacity: 0.5;
						}
						ul.slick-dots li.slick-active button:before{
							background-color: #0077b7;
							opacity: 1;
						}
	.b-partners{

	}
		.b-partners .b-block{

		}
			.b-partners h2.b-title{
				margin-bottom: 50px;
			}
			.b-partners-slider{

			}
				.b-partners-slide{

				}
					.b-partners-logo{
						margin-bottom: -15px;
					}
						.b-partners-logo li{
							width: 25%;
							text-align: center;
							float: left;
							margin-bottom: 30px;
						}
							.b-partners-logo li a{
								display: inline-block;
								width: 150px;
								height: 150px;
								background-position: 50% 50%;
								background-size: contain;
								background-repeat: no-repeat;
								filter: url('../i/filters.svg#grayscale');
							    filter: gray;
							    -webkit-filter: grayscale(1);
							}
							.b-partners-logo li a:hover{
								filter: none;
    							-webkit-filter: grayscale(0);
							}
				.b-partners-slider .slick-button{
					/*display: none !important;*/
					background: transparent;
					border: none;
					padding: 20px;
					position: absolute;
					top: 50%;
					margin-top: -50px;
					cursor: pointer;
				}
					.b-partners-slider .slick-button:before{
						font-size: 45px;
						color: #383838;
					}
					.b-partners-slider .slick-button:hover:before{
						color: #0077b7;
					}
				.b-partners-slider .slick-prev{
					left: 25px;
				}
					.b-partners-slider .slick-prev:before{

					}
				.b-partners-slider .slick-next{
					right: 25px;
				}
					.b-partners-slider .slick-next:before{

					}
	.b-job-list{
		background-color: #f9f9f9;
		padding-top: 35px;
		padding-bottom: 75px;
	}
		.b-job{
			position: relative;
			padding-bottom: 30px;
		}
		.b-job:last-child{
			padding-bottom: 0;
		}
			.b-job-detail{
				margin-top: 0 !important;
				overflow: hidden;
			}
			.b-btn-hide{
				display: none;
			}
	.b-form{
		padding-top: 30px;
	}
		.b-form .b-cols{

		}
			.b-form .b-cols .b-col{

			}
			.b-form .b-2-cols .b-col{
				
			}
		input[type="text"],
		input[type="email"],
		textarea{
			border: 1px solid #777;
			background-color: #FFF;
			font-size: 16px;
			padding: 17px 25px;
			box-sizing: border-box;
			color: #383838;
			font-family: "Roboto-Light";
			width: 100%;
			margin-bottom: 30px;
		}
		input[type="text"]:focus,
		input[type="email"]:focus,
		textarea:focus{
			border-color: #0077b7;
			/*box-shadow: 0px 0px 10px rgba(0, 119, 183, 0.15);*/
			box-shadow: 0px 0px 0px 1px #0077b7;
		}
		.b-half input[type="text"],
		.b-half input[type="email"],
		.b-half textarea{
			width: calc(50% - 15px);
			margin-right: 30px;
			display: inline-block;
		}
		.b-half input[type="text"]:nth-child(2n),
		.b-half input[type="email"]:nth-child(2n),
		.b-half textarea:nth-child(2n){
			margin-right: 0px;
		}
		textarea{
			resize: vertical;
			min-height: 150px;
		}
		.b-form .b-btn{
			margin-top: 20px;
		}
	.b-footer{
		background-color: #0077b7;
	}
		.b-footer .b-block{
			box-sizing: border-box;
			padding-bottom: 60px;
		}
			.b-footer-cont{
				height: 100%;
				position: relative;
			}
				.b-footer h3{
					color: #FFF;
					font-size: 20px;
					font-family: "PTSans-Bold";
					margin-bottom: 10px;
				}
				.b-footer p{
					line-height: 35px;
					color: #FFF;
				}
				.b-redder{
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-image: url('../i/logo-redder.png');
					width: 127px;
					height: 22px;
					font-size: 0px;
					position: absolute;
					right: 0px;
					bottom: 10px;
					cursor: pointer;
				}
.b-popup{
	padding: 20px 50px 50px;
}
.b-thanks p{
	max-width: 395px;
}
.b-popup .fancybox-close-small{
	top: 20px;
	right: 20px;
}

.hideMenu{
	display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-redder{
		background-image: url('../i/logo-redder@2x.png');
		background-size: 127px;
	}
	.b-logo{
		background-image: url('../i/logo@2x.png');
	}
}	
@media screen and (max-width: 1200px){
	.b-partners-logo li a{
		width: 125px;
		height: 125px;
	}
	.b-text table th{
		padding: 8px 12px 8px;
	}

	.b-text table td{
		vertical-align: middle;
	}
}
@media screen and (max-height: 650px){
	.b-menu li{
		text-align: right;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 1020px){

}